# OS / Editors
.DS_Store
.idea/
.vscode/
.history/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
.python-version

# Env
*.env
airflow/.env
.env
airflow/.env.bak.*
.venv/
.env
**/.venv/

# Logs
logs/

# dbt local venv (inside project)
data_pipeline/.venv/
data_pipeline/target/
data_pipeline/dbt_packages/
scripts/**/.venv/

# dbt artifacts (if created at repo root accidentally)
target/
dbt_packages/

# Private doc (Chinese version for internal use)
README_Fox.md

# Great Expectations heavy artifacts
great_expectations/uncommitted/validations/**
great_expectations/uncommitted/data_docs/**
